.app {
  text-align: center;
}

#overlay {
  display: none;
  position: fixed;
  padding-top: 40vh;
  color: #fff;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  cursor: pointer;
  z-index: 1000;
}

.profile-photo {
  height: calc(150px + 10vmin);
  pointer-events: none;
  margin: 10px;
}

.main-photo {
  height: calc(100px + 10vmin);
  pointer-events: none;
  margin: 10px;
}

.dark-nav {
  width: 100vw;
  background-color: transparent;
  color: #61dafb;
  font-size: calc(10px + 2vmin);
  font-weight: 500;
  padding: 10px;
  position: fixed;
  top: 0;
}

form {
  margin: 10px;
}

.form-container {
  padding-top: 100px;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.link,
.link:hover,
.link:focus,
.link:visited,
.link:active {
  color: #007bff;
  text-decoration: none;
}

.font-regular {
  font-size: 16px;
}