.App {
  text-align: center;
}

.App-logo {
  margin-top: 150px;
  height: 40vmin;
  pointer-events: none;
}

.dark-nav {
  width: 100vw;
  border-bottom: 1px solid #808080;
  background-color: #282c34;
  color: #61dafb;
  font-size: calc(10px + 2vmin);
  font-weight: 500;
  padding: 10px;
  position: fixed;
  top: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link,
.App-link:hover,
.App-link:focus,
.App-link:visited,
.App-link:active {
  color: #61dafb;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
