body, html {
  background-color: transparent;
}

.app {
  text-align: center;
}

#overlay {
  display: none;
  position: fixed;
  padding-top: 40vh;
  color: #282c34;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255,255,255,0.5);
  cursor: pointer;
  z-index: 1000;
}

.profile-container {
  text-align: center;
  margin: 0 auto;
  width: 100vw;
  max-width: 700px;
  height: calc(275px + 1vmin);
}

.button-container {
  position: sticky;
  bottom: 30px;
  margin: 10px;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-around;
  font-size: 14px;
}

.button-container > p {
  cursor: pointer;
  margin: 0;
}

.btn-profile {
  width: 100px;
}

.profile-photo {
  position: relative;
  top: -200px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 0 auto;
  height: calc(150px + 10vmin);
  width: calc(150px + 10vmin);
  background-size: cover;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: #fff;
  object-fit: cover;
  pointer-events: all;
  cursor: pointer;
  z-index: 2;
}

.profile-photo > span {
  width: 100%;
  font-size: 14px;
  padding: 4px 8px;
  text-align: center;
  margin: 0;
  color: rgba(255,255,255,0.7);
  background-color: rgba(0,0,0,.2);
}

.wallpaper-photo {
  position: relative;
  top: -50px;
  left: 0;
  background-size: cover;
  text-align: center;
  margin: 0 auto;
  width: 100vw;
  max-width: 700px;
  height: 280px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  z-index: 1;
  overflow: hidden;
}

.wallpaper-photo > span {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: rgba(255,255,255,0.7);
  padding: 6px 10px;
  font-size: 16px;
  background-color: rgba(0,0,0,.2);
  border-radius: 6px;
  cursor: pointer;
}

#upload-photo,
#upload-wallpaper {
  display: block;
  line-height: 8px;
  opacity: 0;
}

.main-photo {
  height: calc(100px + 10vmin);
  pointer-events: none;
  margin: 10px;
  border-radius: 50%;
}

form {
  margin: 0 auto;
  text-align: center;
}

.profile-form {
  margin: 0 auto;
  width: 100vw;
  max-width: 500px;
  overflow: hidden;
  z-index: 2;
}

.login-username {
  text-transform: lowercase;
  margin-bottom: 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="number"],
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
input[type="number"]:focus  {
  outline: 0 none;
  border: 1px solid transparent;
  border-bottom: 2px solid #007bff;
  color: #282c34;
}

.form-control,
.form-control:focus,
.form-control:active {
  background-color : #fff; 
}

.form-container {
  padding-top: 0;
  background-color: transparent;
  min-height: 100%;
  height: 100%;
  max-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: #282c34;
  overflow: hidden;
}

.login-screen,
.register-screen {
  padding-top: 100px;
}

.link,
.link:hover,
.link:focus,
.link:visited,
.link:active {
  color: #007bff;
  text-decoration: none;
}

.font-regular {
  font-size: 16px;
}

.font-small {
  font-size: 12px;
}

#login-error,
#validation-error {
  display: none;
  text-align: center;
  font-size: 12px;
  color: #c0c;
  margin: 5% auto 15px auto;
  width: 200px;
  max-width: 200px;
}

@media (min-width: 768px) {
  .wallpaper-photo {
    position: relative;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    max-width: 700px;
    height: 300px;
    object-fit: cover;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .profile-photo {
    position: relative;
    top: 80px;
    height: calc(150px + 10vmin);
    width: calc(150px + 10vmin);
    margin: -300px 10px 10px 10px;
    border-radius: 50%;
    border: 2px solid #fff;
    object-fit: cover;
    pointer-events: all;
    cursor: pointer;
  }

  .profile-form {
    margin: 0 auto;
    width: 500px;
    max-width: 500px;
  }
  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(275px + 6vmin);
  }
  .button-container {
    margin: 10px;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .main-photo {
    animation: photo-spin infinite 10s linear;
  }
}

@keyframes photo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}